.join_complete_blank {
    margin: 3%;
}

.join_complete_main {
    text-align: center;
    font-size: 200%;     
}
.join_complete_main .grids{
    display: grid;
    grid-template-columns: 35% 4% 56%;
    
    align-items: center;
    justify-items: left;
}

.join_complete_main .grids .num{
    background-color: rgb(139, 134, 134);
}

.footer{
    text-align: center;
}