.order_detail {
  position: relative;
  padding: 130px;
  box-sizing: border-box;
  display: flex;
  align-items: normal;
  justify-content: normal;
}
/* .cart .order_detail_list .at_container{
    max-width: 1200px;
     width: 100%;
     display: block;
    margin: 0 auto;
}
 */
.order_detail .order_detail_list {
  max-width: 1200px;
  width: 100%;
  display: block;
}
.order_detail .order_detail_list h1 {
  display: flex;
  align-items: center;
  justify-content: normal;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 25px;
  border-bottom: 1px solid #333;
}
.order_detail .order_detail_list h1 img {
  width: 24px;
  margin-right: 10px;
}
.order_detail .order_detail_list .order_detail_item {
  display: block;
  padding: 55px 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #333;
}
.order_detail .order_detail_list .order_detail_item .item_name {
  display: flex;
  align-items: center;
  justify-content: normal;
  margin-bottom: 20px;
}
.order_detail .order_detail_list .order_detail_item .item_name {
  font-size: 24px;
  margin-bottom: 15px;
}
/* .cart .order_detail_list .order_detail_item .item_name p{
    font-size: 24px;
}
 */
.order_detail .order_detail_list .order_detail_item .item_content {
  display: flex;
  align-items: normal;
  justify-content: normal;
}
.order_detail .order_detail_list .order_detail_item .item_content .left {
  margin-right: 4%;
  width: 25%;
}
.order_detail .order_detail_list .order_detail_item .item_content .left img {
  display: block;
  width: 100%;
}
.order_detail .order_detail_list .order_detail_item .item_content .right {
  display: block;
  width: 70%;
  position: relative;
}
.order_detail
  .order_detail_list
  .order_detail_item
  .item_content
  .right
  .item_price {
  font-size: 32px;
}
.order_detail
  .order_detail_list
  .order_detail_item
  .item_content
  .right
  .item_count {
  font-size: 32px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: normal;
}
.order_detail
  .order_detail_list
  .order_detail_item
  .item_content
  .right
  .item_count
  span.count {
  margin-left: 10px;
}
.order_detail
  .order_detail_list
  .order_detail_item
  .item_content
  .right
  .item_count
  span.count_btn {
  margin-left: 30px;
}
.order_detail
  .order_detail_list
  .order_detail_item
  .item_content
  .right
  .item_count
  span.count_btn
  button {
  display: flex;
}
.order_detail
  .order_detail_list
  .order_detail_item
  .item_content
  .right
  .total_price {
  font-size: 32px;
  position: absolute;
  bottom: 0;
}
.order_detail .order_detail_pop {
  position: relative;
  margin-left: 5%;
  width: 450px;
}
.order_detail .order_detail_pop .cp_body {
  position: sticky;
  top: 5%;
}
.order_detail .order_detail_pop h1.cp_top {
  display: block;
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 26px;
  border-bottom: 1px solid #333;
}
.order_detail .order_detail_pop h2.cp_top2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}
.order_detail .order_detail_pop h2.cp_top2 p {
  font-size: 18px;
}
.order_detail .order_detail_pop h2.cp_top2 b {
  font-size: 36px;
  font-weight: 500;
}
.order_detail .order_detail_pop h3.cp_top3 {
  font-size: 28px;
  display: block;
  margin-bottom: 150px;
}
.order_detail .order_detail_pop button {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
  font-size: 24px;
}
.order_detail .order_detail_pop .cp_order_number {
  display: flex;
  align-items: center;
  justify-content: normal;
}
.order_detail .order_detail_pop .cp_order_number img {
  width: 22px;
  margin-right: 5px;
}
.order_detail .order_detail_pop .cp_order_number p {
  font-size: 22px;
}
.order_detail .order_detail_pop button.o_c_btn {
  background: #333;
  margin-top: 10px;
  padding: 20px 10px;
  box-sizing: border-box;
}
.order_detail .order_detail_pop button.d_m_btn {
  background: #333;
  margin-top: 10px;
  padding: 20px 10px;
  box-sizing: border-box;
}
